{% load static %}
<!doctype html>
<html lang="ru" class="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/inputs.css' %}" rel="stylesheet">
    <link href="{% static 'css/utils.css' %}" rel="stylesheet">
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
    <title>ali Zhyrgalbekov</title>
</head>

<body>
    <header>
        <div class="container1 a-text-nome pd-t2">
            <div class=" flex  items-center justify-between ">
                <div class="flex items-center gap-3">
                    <div class="logo mr-20"><a href="#"> <img src="{% static 'svg/Group 31.svg' %}" alt=""></a></div>
                    <nav class="text-white ">
                        <div class="flex size-24 gap-10 black ">
                            <div class=""><a class="" href="#">About</a></div>
                            <div class=""><a class="" href="#2">Servises</a></div>
                            <div class=""><a class="" href="#">Works</a></div>
                            <div class=""><a class="" href="#">Blog</a></div>
                        </div>
                    </nav>
                </div>
                <div> <img src="{% static 'svg/Menu.svg' %}" alt=""> </div>
            </div>
            <div class="flex pd-t5 pd-b24  realive">
                <div class="">
                    <div class="size-24 grey-6x">Hello,</div>
                    <div class="size-60 ">
                        <h1>Ali Zhyrgalbekov</h1>
                    </div>
                    <div class="size-24 grey-6x pd-b1">a freelance Back-End developer</div>
                    <div class="mt-10 "><a href="#5" class="lets-talk size-24 ">Let’s Talk</a></div>
                </div>
                <div class="img"> <img src="{% static 'img/ali.svg' %}" alt=""> </div>
            </div>
        </div>
    </header>
    <main>
        <section>
            <div class="container1 a-text-nome">
                <div class=" fz-18"><a href="#">services </a></div>
                <div class=""> <img src="{% static 'img/Rectangle 3.png' %}" alt=""> </div>
                <div id="1" class="fz-36">What actually <br> I love to do</div>
                <div class="flex justify-between pd-b10 ">
                    <div class="">
                        <div class="flex items-center gap-1 pd-t3 pd-b2 ">
                            <div class=""> <img src="{% static 'svg/Group 3.svg' %}" alt=""> </div>
                            <div class="fz-24">db Research</div>
                        </div>
                        <div class="">New demos are continually added and buying a <br>
                            single license for Mak gives you access to all of <br>
                            what's shown below, plus everything that will be <br>
                            added in the future.</div>
                    </div>
                    <div class="">
                        <div class="">
                            <div class="flex items-center gap-1 pd-t3 pd-b2 ">
                                <div class=""> <img src="{% static 'svg/Group 4.svg' %}" alt=""> </div>

                                <div class="fz-24">Brand Design</div>
                            </div>
                            <div class="">New demos are continually added and buying a <br>
                                single license for Mak gives you access to all of <br>
                                what's shown below, plus everything that will be <br>
                                added in the future.</div>
                        </div>
                    </div>
                    <div class="mb-5">
                        <div class="">
                            <div class="flex items-center gap-1 pd-t3 pd-b2 ">
                                <div class=""> <img src="{% static 'svg/Group 5.svg' %}" alt=""> </div>
                                <div class="fz-24">Web Development </div>
                            </div>
                            <div class="">New demos are continually added and buying a <br>
                                single license for Mak gives you access to all of <br>
                                what's shown below, plus everything that will be <br>
                                added in the future.</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="Portfolio box_shadow-pink">
            <div class="container1  a-text-nome">
                <div>
                    <div class="fz-18"><a href="#">Portfolio</a> </div>
                    <div class=""> <img src="{% static 'img/Rectangle 3.png' %}" alt=""> </div>
                </div>
                <div class="flex justify-between ">
                    <div class="fz-36 mt-3">All Creative <br> Projects</div>
                    <div class="fz-24"><a class="flex gap-5px" href="#"> Explore More
                            <img src="{% static 'svg/Group.svg' %}" alt=""> </a></div>
                </div>
                <div class="flex justify-center">
                    <div class=""> <img src="{% static 'img/Rectangle 5.png' %}" alt=""> </div>
                    <div class=""> <img src="{% static 'img/Rectangle 6.png' %}" alt=""> </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container1 ">
                <div class="fz-18 a-text-nome"><a href="#">Clients</a></div>
                <div class=""> <img src="{% static 'img/Rectangle 3.png' %}" alt=""> </div>
                <div class="fz-36 mb-3">Big Deal <br> With</div>
                <div class="flex justify-around m-auto-img">

                    <div class="box__black ">
                        <div class="">
                            <div class="pd-b1"> <img src="{% static 'svg/logo.svg' %}" alt=""> </div>
                            <div>Slack</div>
                        </div>
                    </div>

                    <div class="box__green">
                        <div class="">
                            <div class="pd-b1"> <img src="{% static 'svg/logo2.svg' %}" alt=""> </div>
                            <div>Medium</div>
                        </div>
                    </div>

                    <div class="box__blue">
                        <div class="">
                            <div class="pd-b1"> <img src="{% static 'svg/logo3.svg' %}" alt=""> </div>
                            <div>Microsoft</div>
                        </div>
                    </div>

                    <div class="box__yellow">
                        <div class="">
                            <div class="pd-b1"> <img src="{% static 'svg/logo4.svg' %}" alt=""> </div>
                            <div>Zeplin</div>
                        </div>
                    </div>

                    <div class="box__green2 mb-5">
                        <div class="">
                            <div class="pd-b1"> <img src="{% static 'svg/logo5.svg' %}" alt=""> </div>
                            <div>Shopify</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="pd-t7">
            <div class="container1">
                <div class="a-text-nome fz-18"><a href="#">Testimonials</a></div>
                <div class=""> <img src="{% static 'img/Rectangle 3.png' %}" alt=""> </div>
                <div class="fz-36 mb-1">What People <br> Says</div>
                <div class="flex justify-center mb-1"> <img src="{% static 'svg/206058 1.svg' %}" alt=""> </div>
                <div class="flex justify-between">

                    <div class=""> <img src="{% static 'svg/photo.svg' %}" alt=""> </div>
                    <div class="mb-8">Quote testimonials demonstrate support for your product or
                        feature
                        from
                        a<br> user who has experience with it. This can be significantly more effective than <br>
                        traditional advertising methods as most consumers will trust.</div>
                    <div class=""> <img src="{% static 'svg/photo2.svg' %}" alt=""> </div>
                </div>

                <div class="flex justify-around pd-b10 items-end m-auto">
                    <div class=""> <img src="{% static 'svg/photo4.svg' %}" alt=""> </div>
                    <div class="text-center ">
                        <div class="m-auto-img"> <img src="{% static 'svg/photo3.svg' %}" alt=""> </div>
                        <div class="fz-24">Michal John</div>
                        <div class="fz-20">CEO of MZP</div>
                    </div>
                    <div class="m-auto-img"> <img src="{% static 'svg/photo5.svg' %}" alt=""> </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container1">
                <div class="flex justify-around pd-x7">
                    <div>
                        <div class="fz-18">Blog</div>
                        <div class=""> <img src="{% static 'img/Rectangle 3.png' %}" alt=""> </div>
                        <div class="fz-36">Get News <br> Feeds</div>
                    </div>
                    <div>
                        <div class="mb-1"> <img src="{% static 'img/Rectangle 13.png' %}" alt=""> </div>
                        <div class="fz-18 mb-1">20 June/2020 </div>
                        <div class="fz-24">Technology is evolving rapidly. <br> New devices and applications.</div>
                    </div>
                    <div class=""> <img src="{% static 'img/Rectangle 14.png' %}" alt=""> </div>
                    <div class=""> <img src="{% static 'img/Rectangle 17.png' %}" alt=""> </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container1" id="5">
                <div class="fz-18 a-text-nome pd-t5"><a href="#">Contact Me</a></div>
                <div class=""> <img src="{% static 'img/Rectangle 3.png' %}" alt=""> </div>
                <div class="flex justify-between mb-1">
                    <div class="fz-36">Let me know if you want to talk <br>
                        about a potential collaboration. <br>
                        I'm available for freelance work.</div>
                    <div class=" fz-18 a-text-nome"><a
                            href="mailto:jyrgalbekov228@gmail.com">jyrgalbekov228@gmail.com</a></div>
                </div>

                <div class="register_form pd-b11">
                    <form method="post" action="{% url 'register_user' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="row">
                            <div class="item">
                                <input type="text" id="CharField" placeholder="Enter your full name" name="name"
                                    required>
                            </div>
                            <div class="item">
                                <input type="email" required id="EmailField" name="email"
                                    placeholder="Enter your email">
                            </div>
                            <div class="item">
                                <input type="number" max="+" step="1" required name="phone" id="CharField"
                                    placeholder="Enter your cell phone">
                            </div>
                            <div class="item">
                                <select name="country" id="CharField">
                                    <option value="" selected disabled>Choose your country</option>
                                    <option value="Kyrgyzstan">Kyrgyzstan</option>
                                    <option value="Kazakhstan">Kazakhstan</option>
                                    <option value="USA">USA</option>
                                    <option value="Russian">Russian</option>
                                    <option value="another country">Another Country</option>
                                </select>
                            </div>
                            <div class="item col-span-2">
                                <textarea name="information" id="TextField" required
                                    placeholder="Write something about youself" cols="30" rows="10"></textarea>
                            </div>
                            <div class="item col-span-2 mb-8">
                                <button type="submit">Send</button>
                                <input type="reset" value="Reset">
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="fz-36 flex justify-center mb-1">Let’s be Friends</div>
        <div class="flex justify-center gap-3">
            <div class=""> <a href="http://t.me/ali_arapov"> <img src="{% static 'img/telegram.svg' %}" alt=""></a>
            </div>
            <div class=""> <a href="https://instagram.com/ali.arapov"><img src="{% static 'img/instagram.svg' %}"
                        alt=""></a></div>
            <div class=""> <a href="https://www.linkedin.com/in/али-арапов-3b970a285/"> <img
                        src="{% static 'img/in.svg' %}" alt=""></a> </div>
        </div>
    </footer>
</body>

</html>